/* linee verdi nel menu header */

.imgMenu:hover{
    cursor: pointer;
    color: white;
    
}

.imgMenu:hover {
    cursor: pointer;
}

.imgMenu:hover .lineeHeader{
    cursor: pointer;
    background-color: greenyellow;
}


li:hover{
    cursor: pointer;
    color: white;
}

.effettoHover:hover{
    color: white;
    cursor: pointer;
}






/* main funzionalità del menu orizzontale */


.buttonMain:hover{
    transform: scale(1.2);
}
.containerMenu ul:hover li{
    cursor: pointer;
}

.selezionePlaylist:hover{
    cursor: pointer;
    color: white;
}

.containerMenu li:hover .linee{
    
    background-color: greenyellow;
}


.contImage1:hover .filter{
    cursor: pointer;
    display: block;
}



/* fine parte play */
.containerTitleSong:hover p{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
i:hover {
    cursor: pointer;
    color: white;
}

.fa-circle-play:hover{
    transform: scale(1.2);
}