

@media screen and (max-width: 878px){
    .card{
        width: calc((100% / 4) - 10px);
    }
    
    
}
@media screen and (max-width: 671px){
    .card{
        width: calc((100% / 2) - 10px);
    }
}
@media screen and (max-width: 450px){
    /* header */
    header{
        width: 70px;
    }
    .logoContainer {
        text-align: center;
    }
    .mostra{
        display: inline-block;
    }
    .nascondi{
        display: none;
    }
    .imgMenu{
        justify-content: center;
        padding-left: 0;
    }

    .containerDownload{
        justify-content: center;
    }
    .selezionePlaylist{
        justify-content: center;
    }
    /* main */
    main{
        width: calc(100% - 70px);
    }
    .containerHead{
        
        width: calc(100% - 70px);
    }
    #containerMenuResponsive{
        display: none;
    }

    
}

/* mediaquery del contenitore crea playlist e modifiche verticali */
@media screen and (max-height: 596px){
    #playList {
        height: 7rem;
    } 
}
@media screen and (max-height: 572px){
    #playList {
        height: 5rem; 
    }
}
@media screen and (max-height: 546px){
    #playList {
        height: 3rem; 
    }
}
@media screen and (max-height: 546px){
    #playList {
        height: 1.5rem; 
    }
}
@media screen and (max-height: 490px){
    #playList {
        display: none;
    }
}
@media screen and (max-height: 445px){
    .selezionePlaylist{
        display: none;
        
    }
}
@media screen and (max-height: 394px){
    .playlist{
        display: none;
    }
}
@media screen and (max-height: 348px){
    .imgMenu.tre{
        display: none;
    }
}
@media screen and (max-height: 306px){
    .imgMenu.due{
        display: none;
    }
}
@media screen and (max-height: 265px){
    .imgMenu.uno{
        display: none;
    }
}
@media screen and (max-height: 196px){
    .logoContainer{
        display: none;
    }
}





/* query del play */
@media screen and (max-width: 897px){
   .linePlay{
    width: 18rem;
   }
   .linePlaylaterale{
    width: 3rem;
   }
}



@media screen and (max-width: 751px){
    .cardBrano h4{
        font-size: 0.6rem;
    }
    .cardBrano p{
        font-size: 0.5rem;
    }
    .containerIcone i{
        padding: 0 0.2rem;
    }
    .linePlay{
        width: 14rem;
       }
       .linePlaylaterale{
        width: 2rem;
       }
    
}
@media screen and (max-width: 670px){
    .cardBrano{
        height: 40%;
    }
    .containerIcone i{
        /* display: block; */
        padding: 0.5rem 0;
    }
    .linePlay{
        width: 8rem;
    }
    .col i{
        padding: 0 0.3rem;
        font-size: 0.9rem;
    }
    .col .fa-circle-play{
        font-size: 1.6rem;
    }
    .col.destra i{
        font-size: 0.7rem;
        padding: 0 0.2rem;
    } 
    
}
@media screen and (max-width: 518px){
    
    .linePlay{
        width: 5rem;
    }
    .col i{
        padding: 0 0.3rem;
        font-size: 0.7rem;
    }

    .col.centrale span{
        font-size: 0.8rem;
    }
    .col .fa-circle-play{
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 423px){
    .linePlay{
        width: 3rem;
    }
}
/* fine queri del play */