*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container main e header per dare il flex */
#containerMainPart{
    display: flex;
}
/* inizio header */
header{
    width: 217px;
    height: 90vh;
    position: relative;
    /* debug */
    background-color: green;
    border: 1px solid black;
}

.logoContainer{
    width: 100%;
    
    /* debug */
    height: 50px;
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;
}

.containerMainMenu{
    
    /* debug */
    height: 50px;
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;
}

#playList{
    height: 30vh;
    overflow: auto;
    /* debug */
    
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;
}
/* personalizzazione rollbar */
#playList::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  #playList::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  #playList::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  #playList::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /* fine personalizzazione rollbar */

.containerIconaFondoColonna{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* debug */
    height: 50px;
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;  
}


/* inizio main part */
main{
    /* cambiare se cambia larghezza header */
    width: calc(100% - 217px);
    height: 90vh;
    /* debug */
    background-color: green;
    border: 1px solid black;
}

.containerHead{
    height: 110px;
    width: calc(100% - 217px);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* debug */
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px solid black;
}

.buttonMain{
    
}









#playContainer{
    height: 10vh;
    width: 100%;
    /* debug */
    background-color: green;
    border: 1px solid black;
}